<%= turbo_stream_from :books %>
<div class="container">
  <h1 class="text-center mb-5">Books</h1>
  <div class="row">
    <% @books.each do |book| %>
      <%= render 'index_item', book: book %>
    <% end %>
  </div>
</div>
